<a href="http://blog.juanluisgarciaborrego.com/doctrine-lazy-loading-eager-y-extra_lazy/" target="_new">Go to post</a> |
<a href="https://github.com/JuanLuisGarciaBorrego/DoctrineLab" target="_new">GitHub</a>
