{% extends 'base.html.twig' %}

{% block body %}
    <h1>List all Products</h1>
    <p>List rows of Product, with to call to the Feature's properties.
    <br>Product OneToMany Feature.</p>

    {% for product in products %}
        <p>
            <b>{{ product.name }}</b>
            {% for feature in product.features %}
                <blockquote>
                    {{ feature.name }}<br>
                    {{ feature.description }}
                </blockquote>
            {% endfor %}
        </p>
    {% endfor %}
{% endblock %}