{% extends 'base.html.twig' %}

{% block body %}
    <h1>List Article {{ article.title }} [EXTRA_LAZY]</h1>
    <b>Total comentarios[{{ totalComment }}]</b>
    <p>{{ article.content }}</p>
{% endblock %}